#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainWindow {
  background-color: lightslategray;
  width: 800px;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
