#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainWindow {
  background-color: lightslategray;
  width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
}

.filterWindow {
  width: fit-content;
  height: 199px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filters {
  background-color: lightslategray;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.filter {
  display: flex;
  margin: 10px;
  height: 20px;
}

.filterName {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.filterSprite {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  width: fit-content;
}

.filterCheck {
  margin-left: 5px;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
